{{ attach_library('etype_commerce/buysub') }}
<div id="buysub" class="columns">
  <div class="column">
    {{ buyDigitalText }}
    {{ drupal_block('buy_digital_block') }}
  </div>
  <div class="column">
    {{ buyPrintText }}
    {{ drupal_block('buy_print_block') }}
  </div>
</div>
